*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/images/projects/interactive-ai-powered-robot/ai-robot-final.mp4 !filter !diff !merge text
"assets/images/projects/Pulse/Pulse (1) (1) (1).mp4" !filter !diff !merge text
